.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1; /* Color de fondo del pie de página */
    text-align: center;
    padding: 10px 0; /* Espaciado interior */
  }